@model IEnumerable<WebApplication3.Models.Flight>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Arrival_city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departure_city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arrival_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departure_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Airport.Airport_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Arrival_city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departure_city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Arrival_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departure_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Airport.Airport_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FlightID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FlightID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FlightID })
        </td>
    </tr>
}

</table>
