@model IEnumerable<WebApplication3.Models.Airplane>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Airplane_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Variant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Crew_size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Airline.Airline_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Airplane_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Variant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Crew_size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Airline.Airline_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AirplaneID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AirplaneID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AirplaneID })
        </td>
    </tr>
}

</table>
